.mainSec{
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
  display: flex;
  justify-content: center;
}
.navBar{
  position: fixed;
  background-color: #e4eef0b2;
  width: 50%;
  height: 40px;
  margin-top:70px;
  border-radius: 10px;
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
}
.navName{
  color: #5ED5F3;
  font-size: 12px;
  font-weight: 400;
}
.navButtons{
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.navIcon{
  margin: 0px 6px;
}
.navButtons a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  color: #D64090;
  transition: .2s ease;
}
.navButtons a:hover{
  color: #5ED5F3;
}

.allSec{
  position: fixed;
  display: flex;
  overflow-x: auto; 
  white-space: nowrap;
  margin-top: 150px;
  height: calc(100% - 150px); 
  width: 52%;
}

.aboutDiv,
.serviceDiv,
.projectDiv {
  flex: 0 0 auto; /* Prevent flex items from growing or shrinking */
  height: 100%;
  width: 100%;
}

.aboutDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.helloText{
  color: #D64090;
  margin: 10px;
}
.nameText{
  color: #5ED5F3;
  font-size: 30px;
}

.serviceDiv {
  background-color: #40b5d6;
}

.projectDiv {
  background-color: #8bd640;
}
